body {
  padding: 0px;
  font: 14px;
  font-family: Trebuchet MS, sans-serif;
  background-color: rgb(194, 211, 226);
}

h2 {
  font-family:Trebuchet MS, sans-serif;
}

a {
  color: #00B7FF;
}

.fs-7 {
  font-size: .75rem;
}

.fs-8 {
  font-size: .65rem;
  color: grey
}

.title{
  background-color: rgb(1, 27, 51);
  color: white;
  padding: 10px;
  text-align: center;
  margin: 0px;
  /*font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
  font-weight: bold;
  font-size: 60;
}

.filter{
  background-color: rgb(1, 40, 71);
  padding: 5px;
  color: white;
  padding-top: 10px;
}

/* .title, .filter h2{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}*/

/* i didn't use flex for this I just did it maunally*/
/*will change later*/
.flex-container {
  display: flex;
  justify-content: space-between;
  padding-left: auto;
  padding-right: auto;
}

/*
#room_box{
  display: flex;
  justify-content: space-between;
  color:blueviolet;
}*/

/*.right{
  width:33%;
  float:right;
  margin-right:5px;
}

.left{
  float: left;
  width:47%;
  margin-top:10px;
  margin-left: 10px;
}*/

.submit-button{
  background-color: rgb(1, 27, 51);;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 650px; /* I gotta fix this later cuz i did this number manually
  display: block;*/

  cursor: pointer;
  border-radius: 25px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.boxes .container {
  display: flex;
  justify-content: space-between
}

#holder {
  flex: 1;
  color: blueviolet;
  border-radius: 10px;
  margin: 20px 10px;
  box-shadow: 0 3px 5px rgba(0,0,0, 0.6);
  padding: 15px 20px;
}


/*
For the validity mark nex to time selection box
*/
input + span {
  padding-right: 30px;
}

input:invalid + span::after {
  position: absolute;
  content: "✖";
  padding-left: 5px;
}

input:valid + span::after {
  position: absolute;
  content: "✓";
  padding-left: 5px;
}

.container {
  margin-top: 20px;
}


