body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(203, 213, 221);
}

a {
  color: #00B7FF;
}

.fs-7 {
  font-size: .75rem;
}

.title{
  background-color: rgb(1, 27, 51);
  color: white;
  padding: 10px;
  text-align: center;
  margin: 0px;
  /*font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;*/
  font-size: 60;
}

.filter{
  background-color: rgb(0, 43, 83);
  padding: 5px;
  color: white;
  margin: 0px;
}

.title, .filter h2{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;

}
/*
For the validity mark nex to time selection box
*/
input + span {
  padding-right: 30px;
}

input:invalid + span::after {
  position: absolute;
  content: "✖";
  padding-left: 5px;
}

input:valid + span::after {
  position: absolute;
  content: "✓";
  padding-left: 5px;
}